{% extends "yourblog/base.html" %}
{% load staticfiles %}


{% block content %}

    <p>Статьи к тегу  - {{keyw_s}}:</p>
{% for post in posts %}
    <div class="date">
                {{ post.published_date }} by {{ post.author }}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
{% endfor %}
<div class="cloud">
	облако тегов:
	{% for keyword in keywords %}
		<a href="/keyword/{{ keyword.id }}">{{ keyword.name }}</a>

		{% if not forloop.last %}, {% endif %}
	{% endfor %}
</div>
{% endblock content %}