{% load staticfiles %}
{% extends 'yourblog/base.html' %}

{% block content %}
    {% for post in posts %}
	<div class="content">
        <div class="post">
            <p class="date">created: {{ post.created_date|date:'d-m-Y' }}</p>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|truncatechars:200 }}</p>
        </div>
	</div>
    {% endfor %}
	<div class="cloud">
	облако тегов:
	{% for keyword in keywords %}
		<a href="/keyword/{{ keyword.id }}">{{ keyword.name }}</a>

		{% if not forloop.last %}, {% endif %}
	{% endfor %}
</div>
{% endblock %}